* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}


/* Pre Loader */

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background-color: rgb(24, 5, 1);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_text {
    animation: scale 3s linear infinite;
    -webkit-animation: scale 3s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
}

.fade {
    opacity: 0;
    visibility: hidden;
}

body {
    background: url('./assets/coffe.jpg') center center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.529);
    z-index: -2;
}

.hero_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.left {
    width: 45%;
}

h1 {
    font-weight: bold;
    font-size: 3.3rem;
}

p {
    width: 75%;
    margin: 20px 0;
}

button {
    padding: 15px 40px;
    background: none;
    border: 2px solid white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: ease-in-out .4s;
    -webkit-transition: ease-in-out .4s;
    -moz-transition: ease-in-out .4s;
    -ms-transition: ease-in-out .4s;
    -o-transition: ease-in-out .4s;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
}

.right {
    width: 25%;
}

img {
    margin-right: 60px;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
    width: 100%;
    animation: topdown 3s linear infinite;
    -webkit-animation: topdown 3s linear infinite;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@keyframes topdown {
    0% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}